<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>SRHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>key</key>
			<string>Enable</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>90°</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>3</integer>
			<key>key</key>
			<string>degree_90</string>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2 (System)</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>60°</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>4</integer>
			<key>key</key>
			<string>degree_60</string>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2 (System)</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>45°</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>5</integer>
			<key>key</key>
			<string>degree_45</string>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2 (System)</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.5</real>
			<key>min</key>
			<string>0.5</string>
			<key>max</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>KeepAliveDuration</string>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Tapping once always deactivates Reachability</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>key</key>
			<string>taponce_90</string>
			<key>label</key>
			<string>90°</string>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>key</key>
			<string>taponce_60</string>
			<key>label</key>
			<string>60°</string>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.gviridis.simplereach</string>
			<key>key</key>
			<string>taponce_45</string>
			<key>label</key>
			<string>45°</string>
			<key>PostNotification</key>
			<string>com.gviridis.simplereach.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>mailTapped</string>
			<key>label</key>
			<string>Feedback</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>SRFooterHyperlinkView</string>
			<key>footerText</key>
			<string>添乱ed happily by 😼Nezha  </string>
			<key>action</key>
			<string>followOnSNS:</string>
			<key>SNSID</key>
			<string>nezhawg</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>followOnSNS:</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Leaving Settings?</string>
				<key>title</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>SNSID</key>
			<string>Jingka_0</string>
			<key>label</key>
			<string>Designed by @Jingka_0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>followOnSNS:</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Leaving Settings?</string>
				<key>title</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>SNSID</key>
			<string>gviridis</string>
			<key>label</key>
			<string>Developed by @gviridis</string>
		</dict>
	</array>
	<key>title</key>
	<string>SimpleReach</string>
</dict>
</plist>
